{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-6">
        {% if profile_image %}
            <img src="{{ url_for('get_profile_image', filename=profile_image)}}" class="img-fluid">
        {% else %}
            <img src="{{ url_for('static', filename='images/samples/profile_images/sample-profile-image1.jpg')}}" class="img-fluid">
        {% endif %}    </div>
    <div class="col-6">
        <h1 class="display-4">CMate:Virtual Clothing Try On</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <!-- upload profile image -->
            <p>
            <div class="form-group">
                <label>Upload Profile Image</label><br>
                {% if form.profile_image.errors %}
                    {{form.profile_image(class="form-control is-invalid", accept="image/*")}}
                    <div class="invalid-feedback">
                        {% for error in form.profile_image.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.profile_image(class="form-control", accept="image/*")}}
                {% endif %}
                <small id="profilehelp" class="form-text text-muted">Tip: use portrait image with normal pose for best experience.</small>
            </div>
            </p>
            
            <div class="form-group">
                <a class="btn btn-outline-info" href="{{ url_for('home')}}">Back</a>
                {{ form.submit(class="btn btn-outline-info", disabled="True") }}
            </div>    
        </form>

        <!-- show sample profile images -->
        <section class="js-sample-images">

        </section>
        
    </div>

</div>

{% endblock %}

{% block script %}
<script>
    $('document').ready(function(){
        $('#profile_image').change(function(){
        var profile_image = $('#profile_image').val();
        // console.log("File details:" + profile_image);

        if (profile_image != '') {
            $("#submit").removeAttr("disabled");
        }
        })
    });
    $('document').ready(function(){
        sample_image_section = $('section.js-sample-images')
        // api call for sample profile images
        $.ajax({
                    type: "GET",
                    url: "/sample_profile_images/",
                    data: {},
                    dataType: "json",
                    success: function(data){
                        sample_image_section.append("<label style='display:block;'>Sample Profile Images (Pick One):</label>")
                        const images_list = data["sample_profile_images"]
                        for (var i=0; i<images_list.length; i++){
                            var $img =  $("<img>", {"class": "recent-images--hover my-2 mx-1 rounded img-fluid", "style": "height:50px;"});
                            $img.attr('src', '/profile_images/'+images_list[i])
                            var $a_tag = $("<a>", {"href":"/pick_profile_image/"+images_list[i] })
                            sample_image_section.append($a_tag.append($img))
                        }
                    }
                });
    })
    
</script>
{% endblock %}