html,body {
  padding:0;
  margin:0;
  height:100%;
}

.main {
  position: relative;
  min-height: 100%;
}

.container {
  padding-top: 60px;
  padding-bottom: 9rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9rem;
  background: rgb(245, 245, 245);
}

.recent-images--hover:hover {
  border: solid 2px #17a2b8;
  padding:-2px;
}