{% extends "base.html" %}

{% block content %}

<section>
    <section>
        <h2 class="display-4">CMate:About</h2>
    </section>
    <hr>
    <section>
        <p>
            CMate is a virtual clothing try on tool.
            This tool helps your try on clothes online as if you would just physically try on in front of mirror.
            If you're buying online or randomly checking out outfits online,
            you can quickly try on and see how does it look on you.
            It supports upper wear clothes for men and women.<br>
            Note:This is my personal project not a commercial project.
        </p>
    </section>
</section>

{% endblock %}