{% extends "base.html" %}

{% block style %}
<style type="text/css">
    .box-img {
        max-height: 300px;
        max-width: 300px;
    }

</style>
{% endblock %}

{% block content %}

<section class="m-3">
    <section>
        <h2 class="display-4">CMate:Guidelines</h2>
        <p class="lead">Get best out of this tool by following these guidelines.</p>
    </section>
    <hr>
    <section>
        <div class="row p-3">
            <div class="col">
                <h2>Profile Image</h2>
                <li class="lead">Half-body image in a normal pose.</li>
                <li class="lead">Image should contain single person.</li>
                <li class="lead">Best when profile image contains top tanks or short sleeve clothes. Imagine trying on t-shirt  on top of long sleeve shirt.</li>
            </div>
        </div>
    
        <div class="row p-3">
            <div class="col">
                <h2>Source Image</h2>
                <li class="lead">Image must contain cloth.</li>
                <li class="lead">Best when image contains a person wearing some cloth.</li>
            </div>
        </div>
    </section>

</section>

{% endblock %}